*.iml
.gradle
/local.properties
/.idea/
/.gradle/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/.cxx
/app/build/
local.properties
/app/src/androidTest
/app/src/test
gradlew
gradlew.bat
gradle.properties
/gradle/wrapper
